<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div align="center">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teams">All teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teams/new">Add team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/players">All players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/players/new">Add player</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div>
    <b>Name</b>
    <p th:text="${team.getName()}">VALUE</p>
    <hr>
    <b>Country</b>
    <p th:text="${team.getCountry()}">VALUE</p>
    <hr>
    <b>Balance</b>
    <p th:text="${team.getBalance()}">VALUE</p>
    <hr>
    <b>Commission</b>
    <p th:text="${team.getCommission()}">VALUE</p>
    <hr>
    <b>ID</b>
    <p th:text="${team.getId()}">VALUE</p>
    <hr>
</div>

    <b>Players: </b>
<div th:each="player : ${players}">
    <a ${player.team.equals(team.name())}? th:href="@{/players/{id}(id=${player.getId()})}"
       th:text="${player.getName()}">VALUE</a>
</div>

    <hr>
    <a th:href="@{/teams/{id}/edit(id=${team.getId()})}">Edit team</a>

<form th:method="DELETE" th:action="@{/teams/{id}(id=${team.getId()})}">
    <input type="submit" value="Delete team"/>
</form>
</div>
</body>
</html>